astroid==2.3.3
beautifulsoup4==4.8.1
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
Click==7.0
cssselect==1.1.0
defusedxml==0.6.0
Flask==1.1.1
Flask-Login==0.4.1
idna==2.8
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
jsmin==2.2.2
lazy-object-proxy==1.4.3
lxml==4.6.3
MarkupSafe==1.1.1
mccabe==0.6.1
mysql-connector==2.2.9
pycurl==7.43.0.3
pylint==2.4.4
pyquery==1.4.1
pyspider==0.3.10
PyYAML==5.2
requests==2.22.0
six==1.13.0
soupsieve==1.9.5
tblib==1.6.0
tornado==4.5.3
typed-ast==1.4.0
u-msgpack-python==2.5.2
urllib3==1.25.7
Werkzeug==0.16.0
wrapt==1.11.2
WsgiDAV==3.0.1
